{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>
    <hr>

    <table class="table table-light table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <div class="text-center">
                    <a href="{{ path('admin_category_show', {'id': category.id}) }}"><button type="button" class="btn btn-outline-info btn-sm m-2">Voir</button></a>
                    <a href="{{ path('admin_category_edit', {'id': category.id}) }}"><button type="button" class="btn btn-outline-success btn-sm m-2">Editer</button></a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_category_new') }}"><button type="button" class="btn btn-success btn-sm m-2">Créer une nouvelle catégorie</button></a>
{% endblock %}
