{{ form_start(form) }}
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}

{{ form_start(form) }}

<h2>Informations principales</h2>
<hr>

<div class="form-check form-check-inline mb-3">

    {{ form_widget(form.active, {'attr': {'class': 'input-group-text'}}) }}
    {{ form_label(form.active, 'Voyage actif', {'label_attr': {'class': 'form-label'}}) }}
    
</div>

<div class="input-group mb-3">

    {{ form_label(form.name, 'Nom', {'label_attr': {'class': 'input-group-text'}}) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}

</div>

<div class="input-group mb-3">

    {{ form_label(form.slogan, 'Slogan', {'label_attr': {'class': 'input-group-text'}}) }}
    {{ form_widget(form.slogan, {'attr': {'class': 'form-control'}}) }}
    
</div>

<div class="input-group mb-3">

    {{ form_label(form.description, 'Description', {'label_attr': {'class': 'input-group-text'}}) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    
</div>

<div class="input-group mb-3">

    {{ form_label(form.price, 'Prix', {'label_attr': {'class': 'input-group-text'}}) }}
    {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
    
</div>

<div class="input-group mb-3">

    {{ form_label(form.duration, 'Durée en jours', {'label_attr': {'class': 'input-group-text'}}) }}
    {{ form_widget(form.duration, {'attr': {'class': 'form-control'}}) }}
    
</div>


<div class="input-group mb-3">

    {{ form_label(form.pic1, 'Pic n°1', {'label_attr': {'class': 'input-group-text'}}) }}
    {{ form_widget(form.pic1, {'attr': {'class': 'form-control'}}) }}

</div>

<div class="input-group mb-3">

    {{ form_label(form.pic2, 'Pic n°2', {'label_attr': {'class': 'input-group-text'}}) }}
    {{ form_widget(form.pic2, {'attr': {'class': 'form-control'}}) }}
    
</div>

<div class="input-group mb-3">

    {{ form_label(form.pic3, 'Pic n°3', {'label_attr': {'class': 'input-group-text'}}) }}
    {{ form_widget(form.pic3, {'attr': {'class': 'form-control'}}) }}
    
</div>

<div class="input-group mb-3">

    {{ form_label(form.pdf, 'Pdf', {'label_attr': {'class': 'input-group-text'}}) }}
    {{ form_widget(form.pdf, {'attr': {'class': 'form-control'}}) }}

</div>

<h2>Informations complémentaires</h2>
<hr>

<div class="form-check mb-mt-3">

    {{ form_label(form.category, 'Catégories', {'label_attr': {'class': 'input-group-text'}}) }}
    {{ form_widget(form.category, {'attr': {'class': 'form-check-label'}}) }}

</div>

<div class="form-check">

    {{ form_label(form.tags, 'Tags', {'label_attr': {'class': 'input-group-text'}}) }}
    {{ form_widget(form.tags, {'attr': {'class': 'form-check-label'}}) }}

</div>

<div class="form-check">

    {{ form_label(form.dateCreation, 'Date de création', {'label_attr': {'class': 'input-group-text mb-3'}}) }}
    {{ form_widget(form.dateCreation, {'attr': {'class': ''}}) }}

</div>



    <button class="btn btn-sm btn-outline-success mt-5 mb-3">{{ button_label|default('Envoyer') }}</button>
{{ form_end(form) }}
