{% extends 'base.html.twig' %}

{% block title %}Liste des voyages{% endblock %}

{% block body %}
    <h1>Liste des voyages</h1>
    <hr>

    <table class="table table-light table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Slogan</th>
                <th>Description</th>
                <th>Prix/pers</th>
                <th>Durée/jours</th>
                <th>Pic n°1</th>
                <th>Pic n°2</th>
                <th>Pic n°3</th>
                <th>Pdf à générer</th>
                <th>Date de Création</th>
                <th>Voyage actif ?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyage in voyages %}
            <tr>
                <td>{{ voyage.id }}</td>
                <td>{{ voyage.name }}</td>
                <td>« {{ voyage.slogan }} »</td>
                <td>{{ voyage.description }}</td>
                <td>{{ voyage.price }} €</td>
                <td>{{ voyage.duration }} jours</td>
                <td>{{ voyage.pic1 }}</td>
                <td>{{ voyage.pic2 }}</td>
                <td>{{ voyage.pic3 }}</td>
                <td>{{ voyage.pdf }}</td>
                <td>{{ voyage.dateCreation ? voyage.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ voyage.active ? 'Yes' : 'No' }}</td>
                <td>
                    <div class="text-center">
                        <a href="{{ path('admin_voyage_show', {'id': voyage.id}) }}"><button type="button" class="btn btn-outline-info btn-sm m-2">Voir</button></a>
                        <a href="{{ path('admin_voyage_edit', {'id': voyage.id}) }}"><button type="button" class="btn btn-outline-success btn-sm m-2">Editer</button></a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_voyage_new') }}"><button type="button" class="btn btn-success btn-sm m-2">Créer un nouveau voyage</button></a>
    
{% endblock %}
