{% extends 'base.html.twig' %}

{% block title %}{{ voyage.name }}{% endblock %}

{% block body %}

<section class="py-5">
        <div class="container">

                <div class="card">
                    <div class="card-body"><h2 class="text-center">Voyage n° {{ voyage.id }} : {{ voyage.name }}</h2>
                        <hr>
                    <img class="card-img-top form-img-card" src="{{asset(voyage.pic1)}}" alt="..." />
                    <p class="card-text">
                        
                        <table class="table table-light table-striped table-hover">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ voyage.id }}</td>
                            </tr>
                            <tr>
                                <th>Nom</th>
                                <td>{{ voyage.name }}</td>
                            </tr>
                            <tr>
                                <th>Slogan</th>
                                <td>« {{ voyage.slogan }} »</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ voyage.description }}</td>
                            </tr>
                            <tr>
                                <th>Prix</th>
                                <td>{{ voyage.price }} €</td>
                            </tr>
                            <tr>
                                <th>Durée par jours</th>
                                <td>{{ voyage.duration }}</td>
                            </tr>
                            <tr>
                                <th>Pic n°1</th>
                                <td>{{ voyage.pic1 }}</td>
                            </tr>
                            <tr>
                                <th>Pic n°2</th>
                                <td>{{ voyage.pic2 }}</td>
                            </tr>
                            <tr>
                                <th>Pic n°3</th>
                                <td>{{ voyage.pic3 }}</td>
                            </tr>
                            <tr>
                                <th>Pdf à générer</th>
                                <td>{{ voyage.pdf }}</td>
                            </tr>
                            <tr>
                                <th>Date de Création</th>
                                <td>{{ voyage.dateCreation ? voyage.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                            </tr>
                            <tr>
                                <th>Voyage actif ?</th>
                                <td>{{ voyage.active ? 'Yes' : 'No' }}</td>
                            </tr>
                        </tbody>
                    </table>
                
                </p>
                    </div>
                </div>
                </div>
            </div>
        </section>
<div class="text-center">
    <a href="{{ path('admin_voyage_index') }}"><button type="button" class="btn btn-success btn-sm m-2">Retour à la liste des voyages</button></a>

    <a href="{{ path('admin_voyage_edit', {'id': voyage.id}) }}"><button type="button" class="btn btn-outline-info btn-sm m-2">Editer le voyage</button></a>

    {{ include('admin/admin_voyage/_delete_form.html.twig') }}
</div>
{% endblock %}
