{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Les utilisateurs</h1>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>E-mail</th>
                <th>Roles</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de Création</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.dateCreation ? user.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.picture }}</td>
                <td>
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}"><button type="button" class="btn btn-outline-info btn-sm m-2">Voir</button></a>
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}"><button type="button" class="btn btn-outline-info btn-sm m-2">Editer</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_user_new') }}"><button type="button" class="btn btn-success btn-sm m-2">Créer un nouvel utilisateur</button></a>
{% endblock %}
